.home {
    font-family: Sans-Serif;
    /* font-family: 'Playfair Display', serif; */
    /* color: #523a25; */
    font-size: 20px;
    margin-bottom: 50px;
}

.home-title {
    margin-top: 50px;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.home-body {
    margin-top: 100px;
}

.page-intro-home{
    margin-top: 50px;
    text-align: justify;
}

.testimonials {
    font-family: 'Playfair Display', serif;
    text-align: justify;
    font-style: italic;
    padding: 1px 30px;
}